@font-face {
    font-weight: 400;
    font-family: Moderat;
    font-display: swap;
    src: url("/fonts/Moderat-Regular-Web/Moderat-Regular.woff2") format("woff2");
  }
  
@font-face {
    font-weight: 700;
    font-family: Moderat;
    font-display: swap;
    src: url("/fonts/Moderat-Bold-Web/Moderat-Bold.woff2") format("woff2");
}
  
  
/*@font-face {
    font-weight: 400;
    font-family: "Moderat Mono";
    src:
      url("/fonts/Moderat-Mono-Regular-Web/Moderat-Mono-Regular.eot"),
      url("/fonts/Moderat-Mono-Regular-Web/Moderat-Mono-Regular.woff2") format("woff2"),
      url("/fonts/Moderat-Mono-Regular-Web/Moderat-Mono-Regular.woff") format("woff");
}*/